{% extends 'base.html.twig' %}

{% block title %}Edit Unidad
{% endblock %}

{% block body %}
	<div>
		<header>
			{{ include("components/_navbar.html.twig") }}
		</header>
		{{ include("components/_breadcrumb.html.twig", 
			{'navegacion':[
				{
					'name':'Dashbord',
					'route':'app_home'
				},
				{
					'name':'Unidad',
					'route':'app_unidad_index'
				},
				{
					'name':'Editar',
					'route':'app_unidad_index'
				},
			]}
		)}}
	</div>
	<div class="container">
		<div class="row ">
			<div class="col text-left">
				<a href="{{ path('app_unidad_index') }}">back to list</a>
			</div>
			<div class="col text-right">
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					{{ include('unidad/_delete_form.html.twig') }}
				{% endif %}

			</div>
		</div>
		{{ include('unidad/_form.html.twig', {'button_label': 'Update'}) }}

	</div>
{% endblock %}
